* {
    box-sizing: border-box;
}
html {
    height: 100vh;
}
body {
    background-color:black;
}

.header {
    background-color:blue;
    padding: 32px;
    text-align: center;
}

.header-title {
    color:greenyellow;
    font-family:'Times New Roman', Times, serif;
    -webkit-text-stroke: 1px black;
    font-size: 6rem;
    font-weight: bold;
    background-color: black;
    border: 2px solid orange;
    border-radius: 8px;
}

.main {
    background-color: rgb(68, 38, 106);
    color: white;
    font-size: 2rem;
    padding: 32px;
    text-align:center;
}

.footer{
    background-color: aquamarine;
    font-size: 2rem;
    padding: 16px;
    text-align: center;
    border: 5px solid rgb(250, 5, 5);
}